/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body, html, #root {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
* {
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.box {
    background-color: #fff;
    padding: 10px;
    border-radius: 16px;
}
.ant-select, .ant-input-number, .ant-input {
    font-size: 12px !important;
}
:root {
    --brand-1: #ff4144;
}